body {
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    
}


.header {
    display: flex;
    
    justify-content: space-between;
    background-color: #1F2937;
    
    
}

.links {
    display: flex;
    list-style: none;
    gap :16px;
}


.links{
    display: flex;
    gap: 16px;
    color:#E5E7EB;
    font-size: 18px;
}

.headerleft, .headerright {
    display: flex;
    flex-direction: column;
    margin: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    
    
}




.headerleft {
    color: #F9FAF8
}

.logo {
    display: flex;
    width: 300px;
}

.headerlinktext {
    font-size: 18px;
    color: #E5E7EB;
}


.headerlogo {
    font-size: 24px;
    
}

.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: flex-end;
    padding: 15px;
    
    
}

.cards {
    justify-content: center;
    display: flex;
    margin: 18px;
    gap: 70px;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
}

.legalservices {
    font-size: 36px;
    font-weight: 900;
    color:#1F2937
}

.quote {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    align-items: flex-end;
    margin: 0px;
    padding: 0px;
    
}
.quote1 {
    font-size: 36px;
    font-style: italic;
    color: #56606d;
    font-weight: 25;
    margin-right: 100px;
}

.quote2 {
    
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    margin-right: 100px;
    
}

.signup {
    display: flex;
    justify-content: center;

}

.bubble {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    width: 800px;
    margin: 50px;
    padding: 10px;
    align-items: center;
    border-radius: 25px;
}

.rightbubble {
    display:flex;
    border-style:solid;
    border-color: white;
    width: 150px;
    margin-right: 50px;
    justify-content: center;
    align-items:center;
    border-radius: 25px;

}

.footer {
    display:flex;
    align-items:center;
    background-color: #1F2937;
    justify-content: center;
    color: white;
}
